{% extends 'base.html'%}

{% block content%}
<div class="container mt-5">
<h1 class="text-center">Welcome to the Cancer Prediction Management System!</h1>
This system is designed to allow users to record their medical input data and view predictions regarding their health status. With this platform, you can:

    Record Medical Inputs: Enter data related to your medical features. These features include average and worst-case values such as radius, perimeter, and area.

    Receive Predictions: Using advanced algorithms, the system provides predictions regarding your health status. These predictions can help you gain a better understanding of your health.

    View Prediction History: By logging into your account, you can review your previous inputs and predictions. This feature allows you to track changes and trends related to your health over time.

Sensitive Information Protection: We are committed to maintaining the privacy and security of your data. All sensitive information is managed securely and is only accessible to you and authorized healthcare professionals.

Join
</div>
{%endblock%}